*{
	margin: 0;
	padding: 0 ;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image:linear-gradient(
	rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(coverPage2.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.header2{
	min-height: 40vh;
	width: 100%;
	background-image:linear-gradient(
	rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(coverPage2.jpg);
	background-size:  cover;
	background-position: center;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
/*--nav img{width: 150px;}--*/
.navlinks{
	flex: 1;
	text-align: right;
}
.navlinks ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.navlinks ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.navlinks ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	background: #6b8d53;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.navlinks ul li:hover::after{
	width: 100%;
}
.textbox{
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
}
.textbox h1{
	font-size: 62px;
	text-align: center;
}
.textbox p{
	margin: 10px 0 40px;
	font-size: 20px;
	color: white;
}
.knoMore{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.knoMore:hover{
	border: 1px solid #6b8d53;
	background: #6b8d53;
	transition: 1s;
}
nav .fa{
	display: none;
}

@media screen and (max-width: 700px){
.textbox h1{
	font-size: 20px;
}
.navlinks ul li{
	display: block;
}
.navlinks{
	position: absolute;
	background: #6b8d53;
	height: 100vh;
	width: 200px;
	top: 0;
	right: -200px;
	text-align: left;
	z-index: 2;
	transition: 1s;
}
nav .fa{
	display: block;
	color: #fff;
	margin: 10px;
	font-size: 22px;
	cursor: pointer;
}
.navlinks ul{
	padding: 30px;

}
}

/*----Main section----*/
.Services{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.service-col{
flex-basis: 31%;
background: #fff3f3;
border-radius: 10px;
margin-right: 1%;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;
transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.service-col:hover{
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
	.row{
		flex-direction: column;
	}
}
/*------Form Styling--------*/
.QF{
	height: 100vh;
	background: linear-gradient(135deg, #fff, #fff3f3);
}
.constant{
	background-color: #ffffff;
	padding: 35px 50px;
	width: 70%;
	/*min-width: 420px;*/
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 100%;
	border-radius: 10px;
	box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
.heading{
	font-size: 30px;
	text-align: center;
	color: #1c093c;
}
.subHeading{
	position: relative;
	margin: auto;
	width: 100%;
	text-align: center;
	color: #606060;
	font-size: 14px;
	font-weight: 400;
}
form{
	width: 100%;
	position: relative;
	margin: 30px auto 0 auto;
}
.flow{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px 30px;
	margin-bottom: 20px;
}
label{
	color: #1c093c;
	font-size: 14px;
	font-weight: 500;
}
select, textarea, input{
	width: 100%;
	font-weight: 400;
	padding: 8px 10px;
	border-radius: 5px;
	border: 1.2px solid #c4cae0;
	margin-top: 5px;
}
textarea{
	resize: none;
}
textarea:focus, input:focus{
	outline: none;
	border-color: #6b8d53;
}
button{
	margin-top: 10px;
	border: none;
	padding: 10px 20px;
	background: linear-gradient(130deg, #6b8d53, #6b8d53);
	color: #ffffff;
	border-radius: 3px;
}
@media screen and (max-width: 700px) {
	select, textarea, input{
	width: 90%;
}
}

/*---------------CONFIRMATION PAGE STYLING-------------------*/

.output {
	text-transform: none;
	text-align: center;
	font-size: 1em;
	margin-bottom: 10px;
}

#returnButton {
	margin-top: 10px;
	position: relative;
	text-align: center;
	border: 2px solid black;
	padding: 15px 30px;
	width: 200px;
}

#returnButton:hover {
	background-color: rgba(107,141,83, 0.3);
}
#returnButton a {
	color: black;
	text-decoration: none;
	font-size: 15px;
}


.output{
	color: #2B2B2B;
	clear: left;
}


/*--CSS for the pics.--*/

.campus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.campus-col{
	flex-basis: 32%;
	border-radius: 5px;
	margin-bottom: 30px;
	margin-right: 1%;
	position: relative;
	overflow: hidden;
}
.campus-col img{
	width: 100%;
	display: block;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(226,0,0,0.7);
}
.layer h3{
	width: 100%;
	font-weight: 500;
	color: white;
	font-size: 26px;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}


/*--CSS for the footer.--*/
.footer{
	background-color: #24262b;
	padding: 70px 0;
}
.container{
	max-width: 1170px;
	margin: auto;
}

.points{
	list-style: none;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #6b8d53;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width : 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #6b8d53;
}
.copyright{
	color: #fff3f3;
	text-align: center;
	margin-top: 15px;
	font-weight: 300;
	font-size: 15px;
}
@media screen and (max-width: 750px) {
	.footer-col{
	width: 50%;
	margin-bottom: 30px;
}
}
